.clients{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 75px 10% 30px;
  background-color: #FAFAFA;

  @media (min-width: 768px) {
    gap: 80px;
  }

  &__top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__top-title{
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
  }
  &__top-subtitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    max-width: 470px; // todo
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 330px;
  }
  &__content{
    padding: 35px 30px;
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__reference{
    color: #737373;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
  }
}
