.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 10%;
  background-color: #FAFAFA;
  gap: 60px;
  @media (min-width: 768px) {
    gap: 80px;
  }

  &__title {
    @include title;
  }

  &__subtitle {
    @include subtitle;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
  }

  &__content-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $secondary-color;
  }

  &__container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
  }

  &__card {
    display: flex;
    padding: 25px;
    background-color: $white;
    gap: 15px;
    max-width: 330px;
  }

  &__arrow {
    cursor: pointer;
    height: 24px;

    &:hover {
      svg path {
        fill: $red;
      }
    }
  }
}
