@import "reset";
@import "variables";
@import "mixins";
@import "button";
@import "header";
@import "top-block";
@import "cards";
@import "clients";
@import "faq";
@import "pricing";
@import "get-in-touch";
@import "footer";
@import "copyright";

body {
  background: $white;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.footer__icon, a, button, select, input {
  &:focus-visible {
    outline: 2px solid #cccaca;
    border-radius: 2px;
  }
}
